<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/logvetai.png">
    <link rel="stylesheet" href="/static/css/style404.css">
</head>
<body>

    <img src="../static/images/imgScanner/logo.png" alt="Imagen Principal" class="imagen-principal">
    <h1>Ooops!</h1>
    <p class="mensaje-azul">Ingresaste un DUI no existente.</p>
    <p class="mensaje-gris">tranquilo, vuelve a intentarlo :D</p>
    <img src="https://media.tenor.com/GNfbrqk9AEgAAAAM/shocked-surprised.gif" alt="Imagen pequeña" class="imagen-pequeña">
    <form form action="/propSesion" method="post">
        <button type="submit" class="custom-button">Agregar expediente</button>
    </form>

</body>
</html>