<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/logvetai.png">
    <link rel="stylesheet" href="/static/css/style404.css">
</head>
<body>

    <img src="../static/images/imgScanner/logo.png" alt="Imagen Principal" class="imagen-principal">
    <h1>Ooops!</h1>
    <p class="mensaje-azul">Algo salió mal.</p>
    <p class="mensaje-gris">No te preocupes, no es tu culpa :)</p>
    <img src="https://i.pinimg.com/originals/84/a0/9d/84a09dfb5caedaf3d1b0bbbadd030218.gif" alt="Imagen pequeña" class="imagen-pequeña">
    <form form action="/menu" method="post">
        <button type="submit" class="custom-button">Menú</button>
    </form>

</body>
</html>