<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar DUI por input</title>
</head>
<body>
    <h1>Seleccionar ID</h1>
    <form action="/showByEspecie" method="post">
        <select name="especie" required>
            <option value="">Seleccione una especie</option>
            <option value="Canino">Caninos</option>
            <option value="Felino">Felinos</option>
        </select>
        <button type="submit">Buscar Mascotas</button>
    </form>
</body>
</html>