<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleccionar DUI por input</title>
</head>
<body>
    <h1>Seleccionar ID</h1>
    <form action="/showByDUI" method="post">
        <label for="PropKey">Ingresa el DUI:</label>
        <input type="text" id="PropKey" name="PropKey" placeholder="Ingrese DUI del propietario" required>
        <button type="submit">Buscar Mascotas</button>
    </form>
</body>
</html>