@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('styleVet_ai.css');

@keyframes fadeInSlide {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.95);
    }
    50% {
        opacity: 0.5;
        transform: translateY(10px) scale(1.02);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

/* DISEÑO DE LOGO ----------------*/
.logo {
    position: fixed; /* Fija la imagen en la parte superior derecha */
    top: 73px; /* Margen superior */
    right: 105px; /* Margen derecho */
    width: 130px; /* Ajusta el tamaño según sea necesario */
    height: auto; /* Mantiene la proporción */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}
/*---------------------------------------*/
body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    animation: fadeInSlide 1.2s ease-out;
    overflow: hidden;
}


::-webkit-scrollbar {
    width: 18px;
    height: 18px;
    background: var(--grisOscuro)/*linear-gradient(45deg, #ff0066, #0099ff)*/;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-track {
    background: var(--blanco);
    border-radius: 15px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb {
    background: var(--azul)/*linear-gradient(135deg, #ff0066, #6a00ff, #0099ff)*/;
    border-radius: 15px;
    border: 3px solid #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: background 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, var(--azul),/* #ff4d99 ,*/ var(--rojo));
    transform: scale(1.15);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar:active {
    background: #ff00cc;
    transform: scale(0.95);
}

::-webkit-scrollbar-track:hover {
    background: var(--blanco);
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.custom-button {
    background-color: transparent;
    border: 2px solid var(--rojo);
    color: var(--rojo);
    border-radius: 9999px;
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.1s;
    cursor: pointer;
    animation: fadeInSlide 1.8s ease-out;
}

.custom-button i {
    margin-right: 0.5rem;
}

.custom-button:active {
    background-color: var(--rojo);
    color: var(--blanco);
    border-color: var(--rojo);
    transform: scale(0.9);
}

.custom-button2 {
    background-color: transparent;
    border: 2px solid var(--azul);
    color: var(--azul);
    border-radius: 9999px;
    padding: 0.6rem 1.3rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.1s;
    cursor: pointer;
    animation: fadeInSlide 1.8s ease-out;
}

.custom-button2 i {
    margin-right: 0.5rem;
}

.custom-button2:active {
    background-color: var(--azul);
    color: var(--blanco);
    border-color: var(--azul);
    transform: scale(0.9);
}

.custom-button:hover {
    background-color: var(--rojo); /* Color del texto como fondo */
    color: var(--blanco); /* Color de fondo como texto */
    border-color: var(--rojo); /* Asegúrate de que el borde también cambie */
    transition: 0.5s;
}

.custom-button2:hover {
    background-color: var(--azul); /* Color del texto como fondo */
    color: var(--blanco); /* Color de fondo como texto */
    border-color: var(--azul); /* Asegúrate de que el borde también cambie */
    transition: 0.5s;
}


.left-section {
    background-color: var(--azul);
    color: var(--blanco);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-width: 250px;
    overflow-y: auto;
    animation: fadeInSlide 1.5s ease-out;
}

.uno {
    font-weight: bold;
    font-size: 50px;
    margin: -35px 0;
    text-align: center;
    line-height: 1; /* Ajusta este valor según sea necesario */
}

.left-section h1 {
    font-weight: bold;
    color: var(--negro);
    font-size: 54px;
    margin: -35px 0;
    margin-top: 30px;
    margin-bottom: 40px;

}
.Redtext{
    color: var(--rojo);
    font-size: 93px;

}


.left-section p {
    font-size: 0.975rem;
    margin-bottom: 20px;
}

.option {
    background-color: var(--blanco);
    color: var(--negro);
    padding: 15px;
    border-radius: 38px;
    text-align: center;
    margin-bottom: 15px;
    width: 50%;
    cursor: pointer;
    animation: fadeInSlide 1.5s ease-out;
    animation-delay: 0.2s;
    animation-fill-mode: backwards;
}

.option h2 {
    color: var(--rojo);
    font-size: 1rem;
}

.option p {
    font-size: 0.9rem;
    color: var(--negro);
}

.right-section {
    background-size: cover;
    background-position: center;
    flex-grow: 1;
    animation: fadeInSlide 1.5s ease-out;
}

/* DISEÑO DE SLIDE ----------------*/
.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Asegura que el slider esté en el fondo */
}

.slides {
    display: flex;
    transition: opacity 1s ease-in-out;
}

.slides img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    position: absolute; /* Para superponer las imágenes */
    transition: opacity 1s ease-in-out;
}

.slides img:first-child {
    opacity: 1; /* Mostrar la primera imagen */
}
/*---------------------------------------*/

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        align-items: stretch;
    }

    .left-section {
        width: 33%;
        padding: 50px;
        text-align: left;
        box-shadow: 2px 0 5px rgba(0,0,0,0.1);
        overflow-y: auto;
        z-index: 1;
    }

    .right-section {
        width: 67%;
        padding-left: 20px;
        padding-right: 20px;
        z-index: -1;
    }
}
